body
	{

		font-family:Arial, Sans-Serif;
		background:#cbcbcb;
	}
.clearfix:before, .clearfix:after
	{
		content: "";
		display: table;
	}
.clearfix:after
	{
		clear: both;
	}
a
	{
		color:#789;
		text-decoration:none;
	}
a:hover
	{
		text-decoration:underline;
	}
.form
	{
		text-align:center;
		width: 250px;
		margin-top:5px;

	}

input[type='text'], input[type='email'], input[type='password']
	{
		width: 200px;
		border-radius: 2px;
		border: 1px solid #000;
		padding: 10px; color: #888;
		font-size: 14px;
		margin-top: 10px;
	}
input[type='submit']
	{
		background:white;
		color: #000080;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 10px 30px;
  -webkit-box-shadow: 5px 5px 0 #066;
  -moz-box-shadow: 5px 5px 0 #066;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin: 10px 10px 0 0;
	}
input[type='submit']:hover
	{
		-webkit-box-shadow: 0px 0px 0 #666;
  -moz-box-shadow: 0px 0px 0 #666;
  top: 5px;
  left: 5px;
	}
/*login*/
.login{
	margin-left:350px;
	margin-right:350px;
}
.stitched {
   padding: 20px;
   margin: 10px;
   background: #000030;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #000030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
.stitched1 {
   padding: 10px;
   margin: 10px;
   background: #848;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #848, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
.blur {

	text-align:center;
	padding: 20px;
   margin: 10px;
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5)
}
/*
navigation menu
*/
nav {

	width: 960px;
	height: 10px;
	margin: 10px auto;
	text-align: center;
}
.top-menu li {
	display: inline-block;
	text-align: center;
	margin: 30px 5px;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.top-menu li:hover {
	margin: 30px 20px;
}
.top-menu li:active {
	margin: 30px 33px;
}
.top-menu li a  {
	width: 100px;
	height: 100px;
	z-index: 9999;
	position: absolute;
	top: 35px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4), 0px 4px 6px rgba(0,0,0,0.1), 0px 9px 11px rgba(0,0,0,0.1);
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}
.top-menu li:active a {
	font-size: 26px;
	top: 30px;
	text-shadow: none;
}
.top-menu li div.menu-item {
	width: 100px;
	height: 100px;
	display: block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-border-top-left-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-radius-topleft: 100px;
	-moz-border-radius-bottomright: 100px;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.top-menu li:hover div.menu-item{
	-webkit-border-top-left-radius: 80px;
	-webkit-border-bottom-right-radius: 80px;
	-moz-border-radius-topleft: 80px;
	-moz-border-radius-bottomright: 80px;
	border-top-left-radius: 80px;
	border-bottom-right-radius: 80px;
		-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
}
.top-menu li:active div.menu-item{
	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;

}
#home { background: #41D05F; }
#cataloge { background: #E42B2B; }
#price { background: #ff8400; }
#about { background: #a800ff; }
#contact { background: #49a7f3; }
#search { background: #000000; }


/*
welcome note
*/
.welcome{
	height:0px;
	font-size:30px;

	color:white;
}
/*
ribbon
*/

.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;

 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}


/*header*/
.header {
	background:#808;
    position: fixed;
    height: 116px;
	margin-left:0px;
	padding:11px;
    top: 0;
    width: 100%;
    z-index: 100;
}
.container{
    margin: 100px;
	margin-top:200px;

}
.menu{
	margin-left:00px;
}

/*displaying all blogs*/
.post-index
{
	background-color: white;
	margin-bottom: 30px;
}

.post-index h5
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 2px;
	margin: 0px;
}

.post-index h6
{
	opacity: 0.7;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.post-index p
{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

/*footer menu*/
.menuone{
	background:#003;
    position: fixed;
    height: 20px;
	margin-top:580px ;
	margin-bottom:0px;
	padding-bottom:20px;
    top: 0;
    width: 84%;
    z-index: 100;
}
/*blockquote*/
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

blockquote cite:before {
content: "\2014 \2009";
}
